<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeepLearningOpenCpp" version="2.4.0" targetFramework="native" />
  <package id="msgpack-c-cpp-3.1.1-winsoft666" version="1.0.0.2" targetFramework="native" />
  <package id="nlohmann.json" version="3.11.2" targetFramework="native" />
</packages>